body {
    background-image: url(tea.gif);
}

.invitation {
    background-color: #314b29;
    color: #e7c789;
    padding: 4%;
    border-radius: 50px;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    font-family: fantasy;
    font-size: 8vw;
}

h2 {
    font-family: cursive;
    font-size: 4vw;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #c18a45;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#popup {
    width: 600px;
    z-index: 200;
}

.popupcontent {
    padding: 10px;
}

button {
    color: #e7c789;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    padding: 14px;
    background-color: #314b29;
    border: 1px solid #4c783f;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-bottom: 1px solid #9f9f9f;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 204, 0, 0.8);
}

button:active {
    position: relative;
    top: 2px;
}